.link_menu {
  display: none;
}

@media (max-width: 768px) {
  .link_menu {
    display: flex;
    border: none;
    position: absolute;
    margin-right: -18rem;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 60px;
    padding: 20px 5px;
    background: transparent;
    margin-top: -10px;
  }
}

.link_menu span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #191765;
  font-family: "Trirong", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #9390ff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: 5px;
}

header {
  display: flex;
  margin-top: 26px;
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

h4 {
  top: 20px;
  margin-left: 50px;
  width: 100%;
  color: aliceblue;
}

@media (max-width: 768px) {
  h4 {
    top: 10px;
    left: 30px;
    color: aliceblue;
  }
}

.navigation_bar {
  display: flex;
  width: 100%;
  top: 10px;
  margin-left: 40rem;
}

@media (max-width: 768px) {
  .navigation_bar {
    display: none;
  }
}

.email_icon {
  width: 15px;
}

.link {
  text-decoration: none;
  color: aliceblue;
  font-size: small;
  margin-right: 26px;
}

.link:hover {
  border-bottom: blue solid 2px;
}

.website_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./icon/circle1.svg);
  background-size: 1000px;
  background-position: 12rem;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .website_body {
    background-position: -27rem;
  }
}

.first_head {
  align-items: center;
  margin-top: 130px;
  padding-bottom: 0%;
  color: #9390ff;
  font-size: 70px;
  font-weight: 700;
  border-collapse: collapse;
}

@media (max-width: 768px) {
  .first_head {
    align-items: center;
    margin-top: 130px;
    padding-bottom: 20px;
    color: #9390ff;
    font-size: 40px;
    font-weight: 700;
    border-collapse: collapse;
  }
}

.Second_head {
  color: aliceblue;
  font-size: 30px;
  left: 550px;
  margin-top: -35px;
}

.introduction {
  margin-bottom: 40px;
  padding-left: 15px;
  color: #b3bac5;
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  color: aliceblue;
  font-size: small;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  height: 200px;
  width: 400px;
  border-top: 1px solid #646369;
  padding-bottom: 20px;
  border-bottom: 1px solid #646369;
}

@media (max-width: 768px) {
  .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    color: aliceblue;
    font-size: small;
    padding-top: 0;
    padding-left: 0;
    height: 400px;
    width: 400px;
    border-top: 1px solid #646369;
    padding-bottom: 20px;
    border-bottom: 1px solid #646369;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.column li {
  padding-bottom: 15px;
}

.table_head {
  font-weight: bold;
  font-size: medium;
  color: #9390ff;
}

#word_with_arrow {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: space-around;
}

.left_word_with_arrow {
  color: white;
  font-size: 20px;
}

.right_word_with_arrow {
  color: white;
  font-size: 20px;
}

#first_arrow {
  width: 20px;
}

#second_arrow {
  width: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .work {
    display: none;
  }
}
